body {
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-image: url('https://t3.ftcdn.net/jpg/04/46/47/54/240_F_446475458_2jaTSJqFV9DtlCcCNysZwtxTIGkSe7Hq.jpg');
}

body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('https://t3.ftcdn.net/jpg/04/46/47/54/240_F_446475458_2jaTSJqFV9DtlCcCNysZwtxTIGkSe7Hq.jpg');
}

h1 {
    text-align: center;
    color:rgb(102, 255, 0);
}

h2 {
  color:black;
  text-align: center;
}

.exercise {
    margin: 20cap;
    padding: 10px;
    border: 1px solid #ccc
}

#image{
    width: 100px;
    height: 100px;
    align-items: center;
  }

  .exercise {
    margin-bottom: 20px;
  }

  .exercise img {
    max-width: 400px;
    height:auto;
  }

  .tracker{
    font-size: 19px;
    border-collapse: collapse;
    width: 600px;
  }

  .tracker th {
    font-size: 1.1em;
    text-align: left;
    color: green;
    background:#009578;
  }

  .tracker th,
  .tracker td {
    padding: 0.8em;
  }

  .tracker__entries.tracker__row{
    background: #ccc;
  }

  .tracker__entries.tracker__row:nth-child(odd){
    background: #ddd;
  }

  .tracker__date,
  .tracker__workout,
  .tracker__duration {
    display:inline-block;
    box-sizing: border-box;
    font-size: 1.1em;
    height: 2.6em;
    padding: 0.5em 0;
    background: wheat;
    border: none;
    outline: none;
  }

  .tracker__duration{
    width: 3em;
    text-align: right;
  }

  .tracker__button {
    display:flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: orangered;
    font-size: 1.3em;
    margin-left: 0.7em;
    cursor: pointer;
  }

  .tracker__button:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .tracker__row--add {
    border-top: 4px solid #333;
    border-bottom:4px solid #333;
    background: #fff;
  }

  .tracker__row--add td {
    text-align:right;
  }

  .tracker__add {
    display: inline-block;
    padding: 0.8em 1em;
    color:green;
    cursor: pointer;
  }

  .tracker__add:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .tracker {
    font-size: 16px;
    width:550px;
  }

  .logo{
    text-align: center;
    background-color: rgb(49, 179, 103);
    color: white;
    padding: 0.5em;
  }

  .container {
    background: #424242;
    width: 100%;
    height: 100vh;
    background-image: url(download.jpeg);
    background-position: center;
    background-size: cover;
  }

  #addEntry {
    display: inline-block;
    padding: 0.8em 1em;
    color:green;
    cursor: pointer;
  }

  .removeBtn {
    color: orangered;
    font-size: 0.9em;
    margin-left: 0.1em;
    cursor: pointer;
  }

  .tracker__row--add {
    border-top: 4px solid #333;
    border-bottom:4px solid #333;
    background: #fff;
  }

  #entryTable th {
    font-size: 1.1em;
    text-align: left;
    color: whitesmoke;
    background:#009578;
  }

  #entryTable {
    font-size: 16px;
    border-collapse: collapse;
    width: 600px;
    text-align: center;
  }

  #entryTable th,
  #entryTable td {
    padding: 0.8em;
  }