body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.exercise {
    margin: 20cap;
    padding: 10px;
    border: 1px solid #ccc
}

#image{
    width: 100px;
    height: 100px;
  }

  .exercise {
    margin-bottom: 20px;
  }

  .exercise img {
    max-width: 400px;
    height:auto;
  }

  .tracker{
    font-size: 19px;
    border-collapse: collapse;
    width: 600px;
  }

  .tracker th {
    font-size: 1.1em;
    text-align: left;
    color: #fff;
    background:#009578;
  }

  .tracker th,
  .tracker td {
    padding: 0.8em;
  }

  .tracker__entries.tracker__row{
    background: #ccc;
  }

  .tracker__entries.tracker__row:nth-child(odd){
    background: #ddd;
  }

  .tracker__date,
  .tracker__workout,
  .tracker__duration {
    display:inline-block;
    box-sizing: border-box;
    font-size: 0.9em;
    height: 2.6em;
    padding: 0.5em 0;
    background: wheat;
    border: none;
    outline: none;
  }

  .tracker__duration{
    width: 5em;
    text-align: right;
  }

  .tracker__button {
    display:flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: orangered;
    font-size: 1.3em;
    margin-left: 0.7em;
    cursor: pointer;
  }

  .tracker__button:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .tracker__row--add {
    border-top: 4px solid #333;
    border-bottom:4px solid #333;
    background: #fff;
  }

  .tracker__row--add td {
    text-align:right;
  }

  .tracker__add {
    display: inline-block;
    padding: 0.8em 1em;
    color:green;
    cursor: pointer;
  }

  .tracker__add:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .tracker {
    font-size: 16px;
    width:550px;
  }

  .logo{
    text-align: center;
    background-color: rgb(49, 179, 103);
    color: white;
    padding: 0.5em;
  }